@import "../../assets/styles/font.scss";
@import "../../assets/styles/variables.scss";

.header {
  padding-top: 35px;
  padding-bottom: 35px;

  &__container {
    max-width: 1560px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__menu {
    display: none;
  }

  &__logo-img {
    width: 210px;
    height: 58px;
    object-fit: contain;
  }

  &__list {
    display: flex;
  }

  &__item + &__item {
    margin-left: 40px;
  }

  &__item-link {
    cursor: pointer;
    font-size: 16px;
    line-height: 21px;
    color: $medgray;
    font-family: "Roboto Mono";

    &:hover {
      color: $coral;
    }
  }

  &__item-link--active {
    text-decoration: underline;
    color: $dark;
  }

  &__input {
    border: none;
    background-color: $light-gray;
    border-radius: 3px;
    padding-top: 6px;
    padding-bottom: 10px;
    padding-left: 14px;
    padding-right: 38px;
  }

  &__btn {
    background-color: $coral;
    border: none;
    outline: none;
    border-radius: 3px;
  }

  &__btn-img {
    margin: 12px;
  }
}

@media only screen and (max-width: 800px) {
  .header {
    padding-top: 35px;
    padding-bottom: 35px;

    &__container {
      max-width: 360px;
    }

    &__wrapper {
      display: block;
    }

    &__mobile {
      display: flex;
      justify-content: space-between;
    }

    &__menu {
      display: block;
    }

    &__burger {
      border: none;
      outline: none;
      background: none;
    }

    &__logo-img {
      width: 120px;
      height: 34px;
      margin-bottom: 32px;
    }

    &__nav {
      position: absolute;
      top: 68px;
      right: 0;
      background-color: $light;
      width: 360px;
      height: 720px;
    }

    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__item + &__item {
      margin-left: 0;
    }

    &__item {
      margin-top: 55px;
    }

    &__item-link {
      font-size: 20px;
      line-height: 27px;
    }
  }
}
